In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/Adjusted_tmdb_credits.csv')
df2 = pd.read_csv('data/Adjusted_tmdb_movies.csv')

In [3]:
df1.head()

,movie_id,title,cast,crew,Adjusted_Cast,Cast_Size,Top_Cast,Cast_Gender_Ratio,Adjusted_Crew,Crew_Size,Crew_Dept_Cout,Crew_Gender_Ratio,Cast_Crew_Ratio
0,19995,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...","[{'id': 65731, 'name': 'Sam Worthington', 'gen...",83,"[{'id': 65731, 'name': 'Sam Worthington', 'gen...","{'Gender 0': 51, 'Gender 1': 12, 'Gender 2': 20}","[{'id': 1721, 'name': 'Stephen E. Rivkin', 'de...",153,"{'Editing': 8, 'Art': 31, 'Sound': 12, 'Produc...","{'Gender 0': 115, 'Gender 1': 10, 'Gender 2': 28}",0.542484
1,285,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...","[{'id': 85, 'name': 'Johnny Depp', 'gender': 2...",34,"[{'id': 85, 'name': 'Johnny Depp', 'gender': 2...","{'Gender 0': 4, 'Gender 1': 5, 'Gender 2': 25}","[{'id': 120, 'name': 'Dariusz Wolski', 'depart...",32,"{'Camera': 1, 'Directing': 4, 'Production': 8,...","{'Gender 0': 9, 'Gender 1': 8, 'Gender 2': 15}",1.062500
2,206647,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...","[{'id': 8784, 'name': 'Daniel Craig', 'gender'...",83,"[{'id': 8784, 'name': 'Daniel Craig', 'gender'...","{'Gender 0': 15, 'Gender 1': 13, 'Gender 2': 55}","[{'id': 153, 'name': 'Thomas Newman', 'departm...",155,"{'Sound': 17, 'Directing': 4, 'Art': 14, 'Writ...","{'Gender 0': 126, 'Gender 1': 4, 'Gender 2': 25}",0.535484
3,49026,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...","[{'id': 3894, 'name': 'Christian Bale', 'gende...",158,"[{'id': 3894, 'name': 'Christian Bale', 'gende...","{'Gender 0': 74, 'Gender 1': 11, 'Gender 2': 73}","[{'id': 947, 'name': 'Hans Zimmer', 'departmen...",217,"{'Sound': 18, 'Production': 24, 'Writing': 4, ...","{'Gender 0': 175, 'Gender 1': 5, 'Gender 2': 37}",0.728111
4,49529,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...","[{'id': 60900, 'name': 'Taylor Kitsch', 'gende...",27,"[{'id': 60900, 'name': 'Taylor Kitsch', 'gende...","{'Gender 0': 2, 'Gender 1': 6, 'Gender 2': 19}","[{'id': 7, 'name': 'Andrew Stanton', 'departme...",132,"{'Writing': 4, 'Directing': 5, 'Crew': 13, 'Pr...","{'Gender 0': 102, 'Gender 1': 5, 'Gender 2': 25}",0.204545

In [4]:
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title,vote_average,vote_count,Adjusted_Production_Company,Adjusted_Production_Country,Adjusted_Langauges,Adjusted_Genre
0,237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{'name': 'Ingenious Film Partners', 'id': 289...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"['Ingenious Film Partners', 'Twentieth Century...","['United States of America', 'United Kingdom']","['English', 'Español']","['Action', 'Adventure', 'Fantasy', 'Science Fi..."
1,300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"['Walt Disney Pictures', 'Jerry Bruckheimer Fi...",['United States of America'],['English'],"['Adventure', 'Fantasy', 'Action']"
2,245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",...,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,A Plan No One Escapes,Spectre,6.3,4466,"['Columbia Pictures', 'Danjaq', 'B24']","['United Kingdom', 'United States of America']","['Français', 'English', 'Español', 'Italiano',...","['Action', 'Adventure', 'Crime']"
3,250000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{'name': 'Legendary Pictures', 'id': 923}, {'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,"['Legendary Pictures', 'Warner Bros.', 'DC Ent...",['United States of America'],['English'],"['Action', 'Crime', 'Drama', 'Thriller']"
4,260000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{'name': 'Walt Disney Pictures', 'id': 2}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,['Walt Disney Pictures'],['United States of America'],['English'],"['Action', 'Adventure', 'Science Fiction']"

In [5]:
merged_df = pd.merge(df1, df2, left_on='movie_id', right_on='id')

In [6]:
merged_df.head()

,movie_id,title_x,cast,crew,Adjusted_Cast,Cast_Size,Top_Cast,Cast_Gender_Ratio,Adjusted_Crew,Crew_Size,...,spoken_languages,status,tagline,title_y,vote_average,vote_count,Adjusted_Production_Company,Adjusted_Production_Country,Adjusted_Langauges,Adjusted_Genre
0,19995,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...","[{'id': 65731, 'name': 'Sam Worthington', 'gen...",83,"[{'id': 65731, 'name': 'Sam Worthington', 'gen...","{'Gender 0': 51, 'Gender 1': 12, 'Gender 2': 20}","[{'id': 1721, 'name': 'Stephen E. Rivkin', 'de...",153,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"['Ingenious Film Partners', 'Twentieth Century...","['United States of America', 'United Kingdom']","['English', 'Español']","['Action', 'Adventure', 'Fantasy', 'Science Fi..."
1,285,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...","[{'id': 85, 'name': 'Johnny Depp', 'gender': 2...",34,"[{'id': 85, 'name': 'Johnny Depp', 'gender': 2...","{'Gender 0': 4, 'Gender 1': 5, 'Gender 2': 25}","[{'id': 120, 'name': 'Dariusz Wolski', 'depart...",32,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"['Walt Disney Pictures', 'Jerry Bruckheimer Fi...",['United States of America'],['English'],"['Adventure', 'Fantasy', 'Action']"
2,206647,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...","[{'id': 8784, 'name': 'Daniel Craig', 'gender'...",83,"[{'id': 8784, 'name': 'Daniel Craig', 'gender'...","{'Gender 0': 15, 'Gender 1': 13, 'Gender 2': 55}","[{'id': 153, 'name': 'Thomas Newman', 'departm...",155,...,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,A Plan No One Escapes,Spectre,6.3,4466,"['Columbia Pictures', 'Danjaq', 'B24']","['United Kingdom', 'United States of America']","['Français', 'English', 'Español', 'Italiano',...","['Action', 'Adventure', 'Crime']"
3,49026,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...","[{'id': 3894, 'name': 'Christian Bale', 'gende...",158,"[{'id': 3894, 'name': 'Christian Bale', 'gende...","{'Gender 0': 74, 'Gender 1': 11, 'Gender 2': 73}","[{'id': 947, 'name': 'Hans Zimmer', 'departmen...",217,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,"['Legendary Pictures', 'Warner Bros.', 'DC Ent...",['United States of America'],['English'],"['Action', 'Crime', 'Drama', 'Thriller']"
4,49529,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...","[{'id': 60900, 'name': 'Taylor Kitsch', 'gende...",27,"[{'id': 60900, 'name': 'Taylor Kitsch', 'gende...","{'Gender 0': 2, 'Gender 1': 6, 'Gender 2': 19}","[{'id': 7, 'name': 'Andrew Stanton', 'departme...",132,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,['Walt Disney Pictures'],['United States of America'],['English'],"['Action', 'Adventure', 'Science Fiction']"

In [7]:
merged_df.to_csv('data/Merged_tmdb_data.csv', index=False)